# Bytecode Python dan file cache
__pycache__/
*.py[cod]
$py.class

# Database SQLite
inventory.db
*.sqlite3

# Virtual Environment
venv/
env/
.venv/
.env/

# Log dan file sementara
*.log
*.tmp
*.pid

# Docker artifacts
.dockerignore
docker-compose.override.yml

# Konfigurasi editor/IDE
.vscode/
.idea/
*.iml

# Build dan distribusi Python
build/
dist/
*.egg-info/
.eggs/

# Testing dan Coverage
htmlcov/
.tox/
.nox/
coverage.xml
.cache/
*.cover

# File sistem OS (macOS atau Windows)
.DS_Store
Thumbs.db
